{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ubah Barang</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'css/css-vis.css' %}">


{% endblock meta %}



{% block content %}

<div class="container visualisasi min-vh-100">

    <h1><b>Visualisasi Data</b></h1><br>

    <h2 style="text-align: center;">Berdasarkan Jenis Transaksi</h2>
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

{% endblock content %}

{% block script %}
<script>
    // jquery function
    $(document).ready(function(){
            var ctx = document.getElementById('myChart').getContext('2d');
            console.log(ctx);
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{%for data in qs%}'{{data.jenis_transaksi}}',{%endfor%}], //loop through queryset, 
                    datasets: [{
                        label: '# of users', 
                        data: [{%for data in qs%}{{data.num_users}},{%endfor%}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)', 
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
    });
        });
    </script>
{% endblock script %}