<script>
// jquery function
$(document).ready(function(){
        var ctx = document.getElementById('transaksi_piechart').getContext('2d');
        console.log(ctx);
        var transaksi_piechart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{%for data in cara_pembayaran%}'{{data.caraPembayaran}}',{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: '# of users', 
                    data: [{%for data in cara_pembayaran%}{{data.count}},{%endfor%}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });
</script>