{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Warung Etik</title>
{% endblock meta %}

{% block content %}
{{ request.user.username|json_script:"username" }}
{% csrf_token %}


<div class="container-lg d-flex align-items-center flex-column min-vh-100">
    <div class="text-center mt-5 pt-5 mb-1 mb-lg-3">
        
        <h1><img class="w-25 me-3" src="{% static 'img/keranjang.svg' %}" alt="keranjang"><b>Keranjang</b></h1>
    </div>
    <div class="list-keranjang d-flex justify-content-center row mx-1 mx-md-0">
    </div>

    
</div>
{% for message in messages %}
        <script type="text/javascript" >
            var message = "{{message}}";
            Swal.fire({
                        icon: 'error',
                        title: 'Barang Tidak Tersedia',
                        text: `${message}`,
                    })
        </script>
{% endfor %}
<script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{% static 'js/keranjang.js' %}"></script>

{% endblock content %}