<footer class="text-center text-lg-start" style="background-color: #0B3C5C;">
    <div class="container pt-3 mt-2 pb-3" style="color: white;">   
        <div class="mt-5 mb-5">
            <h1><b>WarungEtik</b></h1><br>
            <h6>Tentang Kami</h6>
            <p>
                WarungEtik merupakan milik Etik. Semua barang merupakan milik Etik. Tidak ada orang lain yang bertanggung jawab atas 
                aplikasi ini selain Etik.
            </p>
            <div class="justify-content-around" id="contacts">
                <div>
                    <a href=""></a>
                </div>
                <br><br>
                <div>
                    <p class="p-0 m-0"><span class="material-icons">mail</span> bobi@warungetik.com</p>
                </div>

                <div>
                    <p class="p-0 m-0"><span class="material-icons">local_phone</span> (0251) 77787965 </p>
                </div>
            </div>
        </div>
    </div>
</footer>
