{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Warung Etik</title>
<link rel="stylesheet" href="{% static 'css/style-transaksi.css' %}" />
{% endblock meta %}

{% block content %}

<div class="container-md d-flex align-items-center flex-column min-vh-100">
    
    <section class="top-title">
        <h1>Detail Transaksi</h1>
    </section>

    <section class="container">
        <div class="card card-main">
            <div class="margin-card">

                <section class="content-main">
                    <h4 class="mt-4">status pemesanan : {{ transaksi.statusTransaksi }}</h4>
                    <h4 class="mt-4">ID transaksi : {{ transaksi.idTransaksi }}</h4>
                </section>
                
                <section class="content-main">
                    <h3>detil pesanan</h3>

                {% for n in items %}

                {% if n.0 != 'totalPesanan' %}
                    <div class="row mt-3 mb-1">

                        <div class="col-md-4">
                            <img class="img-barang" src="{{ n.3 }}" alt="{{ n.0 }}">
                        </div>

                        <div class="col-md-8">
                            <h4 class="mt-1">{{ n.0 }}</h4>
                            <h5 class="mid-align">rp. {{ n.1 }}</h5>
                            <h5 class="bottom-align">jumlah barang : {{ n.2 }}</h5>
                        </div>
                        
                    </div>
                {% else %}
                    <div class="content-main">
                        <h3>total pesanan</h3>

                        <h5 class="mt-3">rp. {{ n.1 }}</h5>
                    </div>
                {% endif %}

                {% endfor %}
                </section>
                
            </div>
        </div>
    </section>

</div>

{% endblock content %}