{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Warung Etik</title>
<link rel="stylesheet" href="{% static 'css/style-transaksi.css' %}" />
{% load humanize %}
{% endblock meta %}

{% block content %}

<div class="container-md d-flex align-items-center flex-column min-vh-100">
    
    <section class="top-title">
        <h1>Konfirmasi Transfer</h1>
    </section>

    <section class="container">
        <div class="card card-main">
            <div class="margin-card">

                <section class="content-main">
                    <h3>lakukan transfer ke rekening berikut</h3>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h4 class="card-title mt-2">Bank ABC</h4>
                                    <h4 class="card-title">WarungEtik</h4>
                                    
                                    <h5 class="card-text mt-3">no. rekening : 12345xxxx</h5>
                                    <h5 class="card-text mt-2 mb-2">nominal transfer : Rp. {{ transaksi.totalPesanan |intcomma}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="mt-4">status pemesanan : {{ transaksi.statusTransaksi }}</h4>
                    <h4 class="mt-4">ID transaksi : {{ transaksi.idTransaksi }}</h4>

                    <a href="{% url 'chat:check' %}"><button class="btn btn-lg btn-color mt-4 mb-3"><span style="color: white;">CHAT ADMIN</span></button></a>
                </section>
                
                <section class="content-main">
                    <h3>detil pesanan</h3>

                {% for n in items %}

                {% if n.0 != 'totalPesanan' %}
                    <div class="row mt-3 mb-1">

                        <div class="col-md-4">
                            <img class="img-barang" src="{{ n.3 }}" alt="{{ n.0 }}">
                        </div>

                        <div class="col-md-8">
                            <h4 class="mt-1">{{ n.0 }}</h4>
                            <h5 class="mid-align">rp. {{ n.1 |intcomma}}</h5>
                            <h5 class="bottom-align">jumlah barang : {{ n.2 }}</h5>
                        </div>
                        
                    </div>
                {% endif %}

                {% endfor %}
                
                </section>
                
            </div>
        </div>
    </section>

</div>

{% endblock content %}