{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome to WarungEtik</title>
{% endblock meta %}

{% block content %}
  <div class="front-top min-vh-100">
    
      <ul class="ul-hero">
        <div class="container">
          <li class="li-left">
            <div class="front-top-features">
              <h2 class="slogan-text pos-hero"><b>Belanja jadi mudah</b></h2>
              <a href="#bottom"><button type="button" class="btn btn-info btn-lg mt-5 pos-hero"><span class="mx-5" style="font-weight: 800; color: #0B3C5C">EXPLORE</span></button></a>
            </div>
          </li>
        </div>

        <li class="li-right">
          <img class="main-illust" src="{% static 'img/illust2.svg' %}" alt="blob">
          <!-- <h1>tes</h1> -->
        </li>
      </ul>
  </div>

  <div id="bottom" class="front-page-lower container">
  <div class="min-vh-100">
    <div class="search mb-4">
      <h3>Search<span class="material-icons ms-2">search</span></h3>
      
      <!-- <form> -->
        <div class="btn-group" role="group">
          <form action="" method="POST" class="row g-3">
            {% csrf_token %}

            <div class="col-auto">
              <input type="text" class="form-control" name="search" required>
            </div>

            <div class="col-auto">
              <button class="btn btn-info ms-1" type="submit">Cari</button>
            </div>
          </form>
        </div>
        <div id="help" class="form-text">masukan barang yang ingin dicari</div>
      <!-- </form> -->

      
    </div>

    
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for barang in list_barang %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ barang.image_url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ barang.nama }}</h5>
            <p class="card-text">{{ barang.snippet }}</p>
            <a class="stretched-link" href="{% url 'barang:detail' barang.id %}"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
