
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Warung Etik</title>
{% endblock meta %}

{% block content %}
<div class="container-lg d-flex align-items-center flex-column min-vh-100">
    <div class="text-center mt-5 pt-5 mb-3">
        <h1><b>Register</b></h1>
    </div>
    <div class="col-6 d-flex justify-content-center row mx-1 mx-md-0">

        
        <form class="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nama-depan" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" maxlength="10">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                {{form.password1}}
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Password Confirm</label>
                {{form.password2}}
            </div>
            {% if errors %}
					<div id="errorlist">
					{% for errorMessage in errors %}
							{{ errorMessage }}
					{% endfor %}
					</div>
				{% endif %}

            <input type="submit" style="background-color: #04D4F0; color: #FFFFFF;" value="Register" class="btn fw-bold">
        </form>




    </div>
    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username';
		form_fields[2].placeholder='user@email.com';
		form_fields[3].placeholder='password';
		form_fields[4].placeholder='re-enter password';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>

</div>

{% endblock content %}