{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome Admin</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/css_admin.css' %}">

{% endblock meta %}

{% block content %}
  <div class="dashboard container min-vh-100">
    <h1><b>Dashboard Admin</b></h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Import Data
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Masukan File Excel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form
          id="form"
          class="form-base"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'admin_warung:import-barang' %}"
        >
          {% csrf_token %}
          <div class="form-fields">
            {% for field in excel_upload_form %}
            <div class="field-wrapper">
              <div class="field-input">{{ field.label_tag }} {{ field }}</div>
              <div class="field-error">{{ field.errors }}</div>
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>

          <button type="button" class="btn btn-outline-danger mt-4" data-bs-dismiss="modal">
            Batal
          </button>
          <button id="btn-import" type="submit" class="button btn btn-outline-success form-submit-button mt-4">
            Import
          </button>
        </form>
        </div>
      </div> 
      </div>
    </div>


    <button type="button" class="btn btn-outline-info">Export Data</button>
    <a href="#daftar-barang" class="btn btn-outline-info">Daftar Barang</a>
    <a href="{% url 'admin_warung:list-ubah' %}" class="btn btn-outline-info">Ubah Barang</a>
    <a href="{% url 'admin_warung:tambah-barang' %}" class="btn btn-outline-info">Tambah Barang</a>
    <a href="{% url 'admin_warung:list-hapus' %}" class="btn btn-outline-info">Hapus Barang</a>
    <a href="{% url 'visualisasi_data:visualisasi' %}" class="btn btn-outline-info">Visualisasi Data</a>

    <div class="daftar-transaksi">
        <h3>Daftar Transaksi</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No. Transaksi</th>
                <th scope="col">Time Stamp</th>
                <th scope="col">Pembeli</th>
                <th scope="col">Total Pesanan</th>
                <th scope="col">Cara Pembayaran</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for tr in transaksi %}
              <tr>
                <td scope="row"><b>{{ tr.0 }}</b></td>
                <td>{{ tr.1 }}</td>
                <td>{{ tr.2 }}</td>
                <td>{{ tr.3 }}</td>
                <td>{{ tr.4 }}</td>
                <td>{{ tr.5 }}</td>
                <td>
                  {% if tr.5 == 'menunggu konfirmasi admin' %}
                  
                  <button type="button" class="btn btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalTransaksi">
                    Konfirm
                  </button>
              
                  <!-- Modal -->
                  <div class="modal fade" id="modalTransaksi" tabindex="-1" aria-labelledby="modalTransaksi" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="modalTransaksi">Konfirmasi Transaksi {{ tr.0 }}?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
              
                      <div class="modal-body">
                        <form action="" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="transaksi" value="{{ tr.0 }}" id="">
                          <input type="hidden" name="action" value="konfirmasi" id="">
                          <input class="btn btn-outline-success" type="submit" value="Ya">

                          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                            Batal
                          </button>
                        </form>
                      </div>
                    </div> 
                    </div>
                  </div>

                  <button type="button" class="btn btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalTransaksiGagal">
                    Gagal
                  </button>

                  <div class="modal fade" id="modalTransaksiGagal" tabindex="-1" aria-labelledby="modalTransaksiGagal" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="modalTransaksiGagal">Transaksi {{ tr.0 }} Gagal?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
              
                      <div class="modal-body">
                        <form action="" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="transaksi" value="{{ tr.0 }}" id="">
                          <input type="hidden" name="action" value="gagal" id="">
                          <input class="btn btn-outline-success" type="submit" value="Ya">

                          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                            Batal
                          </button>
                        </form>
                      </div>
                    </div> 
                    </div>
                  </div>
                  {% else %}
                  -
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

    <div id="daftar-barang">
        <h3>Daftar Barang</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              {% for barang in barangs %}
              <tr>
                <th scope="row">{{barang.id}}</th>
                <td>{{barang.nama}}</td>
                <td><a href="{% url 'admin_warung:detail-barang-admin' barang.id %}" class="btn btn-outline-info">Detail</a></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
    </div>


  </div>
{% endblock content %}
