{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% load humanize %}
<title>Detail Transaksi</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/css_admin.css' %}">
{% endblock meta %}



{% block content %}

<body>
    <div class="dashboard container w-100 min-vh-100">
        <div class="">
            <h2>Detail Transaksi</h2>
        </div>
        <div class="container-lg d-flex align-items-center flex-column min-vh-100">
            <div class="d-flex justify-content-center row mx-1 mx-md-0">
                <div class="card shadow col-12 col-md-10 mt-2">
                    <div class="m-2 p-2">
                        <div class="row justify-content-center w-auto">

                            <table>
                                <tr>
                                    <td style="vertical-align: top; width: 170px;"><b>Nama</b></td>
                                    <td style="vertical-align: top; width:1%">:</td>
                                    <td>{{ barang.nama }}</td>

                                </tr>
                                <tr>
                                    <td style="width: 170px;"><b>Harga</b></td>
                                    <td style="width:1%">:</td>
                                    <td>Rp{{ barang.harga|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 170px;"><b>Stok</b></td>
                                    <td style="width:1%">:</td>
                                    <td>{{ barang.stok }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 170px;"><b>Jumlah Terjual</b></td>
                                    <td style="width:1%">:</td>
                                    <td>{{ barang.terjual }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; width: 170px;"><b>Deskripsi</b></td>
                                    <td style="vertical-align: top; width:1%">:</td>
                                    <td>{{ barang.deskripsi }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; width: 170px;"><b>Gambar</b></td>
                                    <td style="vertical-align: top; width:1%">:</td>
                                    <td><img class="rounded-3 img-fluid col-8 col-lg-8"
                                         style="max-height:600px;" src="{{ barang.image_url }}" alt=""></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center" style="padding-top: 25px;">
                <form action='' method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Hapus</button>
                    <a class="btn btn-secondary" href="{% url 'admin_warung:list-hapus' %}" role="button">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock content %}