{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ubah Barang</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/css_admin.css' %}">

{% endblock meta %}

{% block content %}
  <div class="dashboard container min-vh-100">
        <h3>Daftar Barang</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              {% for barang in barangs %}
              <tr>
                <th scope="row">{{barang.id}}</th>
                <td>{{barang.nama}}</td>
                <td><a href="{% url 'admin_warung:ubah-barang' barang.id %}" class="btn btn-outline-info">Ubah</a></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <div class="text-center" style="padding-top: 25px;">
              <a class="btn btn-secondary" href="{% url 'admin_warung:dashboard' %}" role="button">Kembali</a>
          </div>
</div>
{% endblock content %}