{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Barang</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/css_admin.css' %}">

{% endblock meta %}

{% block content %}
<body>
    <div class="dashboard container min-vh-100">
        <h2><b>Tambah Barang</b></h2>
        <form method="POST">
            {% csrf_token %}
            <table class="w-100">
                <tr>
                    <td><b>Nama</b></td>
                    <td><input type="text" class="form-control" id="nama"></td>
                </tr>
                <tr>
                    <td><b>Stok</b></td>
                    <td><input type="text" class="form-control" id="stok"></td>
                </tr>
                <tr>
                    <td><b>Jumlah Terjual</b></td>
                    <td><input type="text" class="form-control" id="terjual"></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;"><b>Deskripsi</b></td>
                    <td><textarea name="deskripsi" cols="40" rows="5" id="deskripsi"></textarea></td>
                </tr>
                <tr>
                    <td><b>Gambar</b></td>
                    <td>{{form.gambar}}</td>
                </tr>
            </table>
            <div class="text-center" style="padding-top: 25px;">
                <button type="submit" class="btn btn-primary">Tambahkan</button>
                <a class="btn btn-secondary" href="{% url 'admin_warung:dashboard' %}" role="button">Kembali</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}